.campo-menu{
    width: 70%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }

.link {
    margin-left: 1em;
    text-decoration: none;
    color: var(--color-Normal);
    font: 1.4rem var(--font-Voltaire);
}

link:hover {
    color: var(--color-Dark)
}

.link.active {
    color: var(--color-Dark); 
    padding-bottom: 0.2em;
    border-radius: 5px;
    border: 2px solid;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

@media (max-width: 850px) {
    .campo-menu {
        display: block;
        text-align: center;
    }

    .link {
        margin-left: 0;
    }
}