.conteudo-login{
    width: 70%;
    margin: 0 auto;
  }

.card-login{
border: none;
/* margin-top: 3rem; */
margin:  3rem auto;
}



form{
    margin: 0 auto;
}

input{
    width: 18em;
    text-align: center;
}

.btn-login{
    margin-top: 2em;
}
